/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat&family=Poppins:wght@400;500;600&family=Roboto+Slab&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  min-height: 100vh;
  background: #ece9e4b3;
}

.social-menu {
  display: flex;
  position: relative;
}

.social-icon {
  position: relative;
}

.social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(0) scale(1);
  transition: 0.3s;
}

.social-icon:hover a {
  transform: translateY(-6px) scale(1.2);
  margin: 0 20px;
}

.social-icon a i {
  font-size: 1.2rem;
  color: #000;
  line-height: 40px;
  transition: 0.3s;
}

.social-icon:nth-child(1):hover a {
  background: #1877f2;
}
.social-icon:nth-child(2):hover a {
  background: #14171a;
}
.social-icon:nth-child(3):hover a {
  background: #e1306c;
}
.social-icon:nth-child(4):hover a {
  background: #7289da;
}
.social-icon:nth-child(5):hover a {
  background: #ff0000;
}
.social-icon:nth-child(6):hover a {
  background: #000000;
}
.social-icon:nth-child(7):hover a {
  background: #000000;
}

.social-icon:hover a i {
  color: #fff;
}

.social-icon span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1rem;
  z-index: -1;
  transition: 0.3s;
}

.social-icon:hover span {
  transform: translate(-50%, 90%) scale(1);
}

.social-icon:nth-child(1):hover span {
  color: #1877f2;
}
.social-icon:nth-child(2):hover span {
  color: #14171a;
}
.social-icon:nth-child(3):hover span {
  color: #e1306c;
}
.social-icon:nth-child(4):hover span {
  color: #7289da;
}
.social-icon:nth-child(5):hover span {
  color: #ff0000;
}
.social-icon:nth-child(6):hover span {
  color: #000000;
}
.social-icon:nth-child(7):hover span {
  color: #000000;
}
